<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

    <insert id="Insert" useGeneratedKeys="true" keyProperty="id" >
       insert into dish (name, category_id, price, image, description, status, create_time, update_time, create_user, update_user) VALUE
       (#{name},#{categoryId},#{price},#{image},#{description},#{status},#{createTime},#{updateTime},#{createUser},#{updateUser})


    </insert>
    <delete id="deleteById">
        delete from dish where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
                         #{id}
        </foreach>
    </delete>
    <select id="page" resultType="com.sky.entity.Dish">
        select dish.*,category.name as category_name from dish left join category
                   on dish.category_id = category.id
        <where> <if test="name!=null"> and dish.name like concat('%',#{name},'%') </if>
                <if test="categoryId!=null">and category_id =#{categoryId}</if>
            <if test="status!=null"> and dish.status=#{status}</if>
        </where>
        order by dish.id
    </select>
    <select id="selectByIds" resultType="com.sky.entity.Dish">
        select  NAME, CATEGORY_ID, PRICE, IMAGE, DESCRIPTION,
               STATUS, CREATE_TIME, UPDATE_TIME, CREATE_USER, UPDATE_USER from dish
        WHERE id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")" >
        #{id}
        </foreach>
    </select>
</mapper>